<div class="card">
    <p-toast></p-toast>
    <p-toolbar>

        <div class="p-toolbar-group-start">
            <h6>1.0 Excavation</h6>
        </div>

        <div class="p-toolbar-group-end">
            <button pButton pRipple icon="pi pi-copy" class="p-button-rounded m-2"></button>
            <button pButton size="small" icon="pi pi-trash" (click)="deleteRecord()" severity="danger"
                class="m-2"></button>
            <button pButton icon="pi pi-print" size="small" class="m-2 "></button>
            <button pButton label="Export" size="small" (click)="exportExcel()" icon="pi pi-download"
                class="m-2"></button>
            <button pButton label="Execution-Order" size="small" (click)="showDialog()" icon="pi pi-upload"
                class="m-2"></button>
        </div>
    </p-toolbar>

    <div class="text-center">
        <div class="row justify-content-center fs-6 fw-bold">
            <div class="col-2 col-sm-4 border">
                Total Value:
            </div>
            <div class="col-2 col-sm-4 border">
                {{totalValue | currency }}
            </div>
            <div class="col-2 col-sm-4 border">
                Currency
            </div>
        </div>
    </div>
</div>

<p-toast></p-toast>

<p-table [value]="mainItemsRecords |search:searchKey" dataKey="executionOrderMainCode" [resizableColumns]="true"
    [expandedRowKeys]="expandedRows" editMode="row">
    <ng-template pTemplate="caption">
        <div class="flex flex-wrap justify-content-between gap-2">
            <div>
                <span class="p-input-icon-left">
                    <input pInputText type="text" placeholder="Search...." [(ngModel)]="searchKey"
                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary " />
                </span>

            </div>

            <div>
                <p-button class=" btn btn-sm" label="Expand All" icon="pi pi-plus" (onClick)="expandAll()" />
                <p-button class="btn btn-sm" label="Collapse All" icon="pi pi-minus" (onClick)="collapseAll()" />
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="header">
        <tr>
            <th style="min-width: 10rem;"> </th>
            <th style="min-width: 10rem;">
                <!-- <p-checkbox (onChange)="onSelectAllRecords($event)" [value]="invoicesRecords"></p-checkbox> -->
            </th>
            <th style="min-width: 10rem;">Print </th>
            <th style="min-width: 10rem;">Line.NR</th>

            <th style="min-width: 10rem;"> MainItem.No </th>
            <th style="min-width: 10rem;"> SubItem.No </th>
            <th style="min-width: 10rem;">ServiceNO.</th>
            <th style="min-width: 10rem;">Description</th>
            <th style="min-width: 10rem;">Quantity</th>
            <th style="min-width: 10rem;">UOM</th>
            <th style="min-width: 10rem;">AmountPerUnit</th>
            <th style="min-width: 10rem;">Currency</th>
            <th style="min-width: 10rem;">Total</th>
            <th style="min-width: 10rem;">Actual Quantity</th>
            <th style="min-width: 10rem;">Actual Percentage</th>
            <th style="min-width: 10rem;">OverFulfillment %</th>
            <th style="min-width: 10rem;">UnlimitedOverFulfillment</th>
            <th style="min-width: 10rem;">ManualPriceEntryAllowed</th>
            <th style="min-width: 10rem;"> MaterialGrp</th>
            <th style="min-width: 10rem;"> ServiceType</th>
            <th style="min-width: 10rem;">External ServiceNumber</th>
            <th style="min-width: 10rem;">ServiceText</th>
            <th style="min-width: 10rem;">LineText</th>
            <th style="min-width: 10rem;"> Personnel.NR</th>
            <th style="min-width: 10rem;">LineType</th>

            <th style="min-width: 10rem;"> Bidders’ line</th>
            <th style="min-width: 10rem;">Supplementary Line</th>
            <th style="min-width: 10rem;">LotCostOne</th>
            <th style="min-width: 10rem;">Actions</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-mainItem let-editing="editing" let-ri="rowIndex" let-expanded="expanded">
        <tr [pEditableRow]="mainItem">

            <td style="min-width: 10rem;">
                <!-- <p-button type="button" pRipple [pRowToggler]="mainItem" [text]="true" [rounded]="true" [plain]="true"
                    [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" /> -->
            </td>
            <td style="min-width: 10rem;">

                <p-checkbox [value]="mainItem" [(ngModel)]="mainItem.selected"
                    (onChange)="onMainItemSelection($event, mainItem)"></p-checkbox>

            </td>
            <td style="min-width: 10rem;">

                <p-checkbox [value]="mainItem" [(ngModel)]="mainItem.doNotPrint"
                    (onChange)="onMainItemSelection($event, mainItem)"></p-checkbox>

            </td>
            <td style="min-width: 10rem;">
                <!-- Line Number -->
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputNumber name="lineNumber" type="text" [(ngModel)]="mainItem.lineNumber">

                    </ng-template>
                    <ng-template pTemplate="output">
                        {{ mainItem.lineNumber }}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td style="min-width: 10rem;">
                {{ rowIndex + ri + 1 }}
            </td>
            <td style="min-width: 10rem;">

            </td>
            <td style="min-width: 10rem;">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <p-dropdown [options]="recordsServiceNumber" [(ngModel)]="mainItem.serviceNumberCode"
                            [ngModelOptions]="{standalone: true}" optionValue="serviceNumberCode"
                            optionLabel="description" [filter]="true" [filterFields]="['searchTerm','description']"
                            [showClear]="true" placeholder="Select SeviceNumber" [appendTo]="'body'"
                            (onChange)="onServiceNumberUpdateChange($event)" [virtualScroll]="true"
                            [virtualScrollItemSize]="40">
                            <ng-template let-record pTemplate="item">
                                <div class="flex align-items-center gap-2">
                                    <div>{{ record.searchTerm }}::{{ record.description }}</div>
                                </div>
                            </ng-template>
                        </p-dropdown>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{mainItem.serviceNumberCode}}
                    </ng-template>
                </p-cellEditor>
                <!-- {{ mainItem.serviceNumber }} -->
            </td>
            <td style="min-width: 10rem;">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <ng-container *ngIf="!updateSelectedServiceNumberRecord">
                            <input pInputText type="text" [(ngModel)]="mainItem.description">
                        </ng-container>
                        <ng-container *ngIf="updateShortTextChangeAllowed && updateSelectedServiceNumberRecord">
                            <input pInputText type="text" [ngModel]="updateSelectedServiceNumberRecord.description"
                                (ngModelChange)="updateShortText = $event">
                        </ng-container>
                        <ng-container *ngIf="!updateShortTextChangeAllowed && updateSelectedServiceNumberRecord">
                            {{ updateSelectedServiceNumberRecord.description }}
                        </ng-container>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{ mainItem.description }}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td style="min-width: 10rem;">

                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <!-- <ng-container *ngIf="!updatedFormulaRecord"> -->
                        <input pInputNumber [min]="0" type="number" [(ngModel)]="mainItem.totalQuantity">
                        <!-- </ng-container>
                        <ng-container *ngIf="updatedFormulaRecord && resultAfterTestUpdate">
                            {{ resultAfterTestUpdate}}
                        </ng-container>-->
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{ mainItem.totalQuantity }}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td style="min-width: 10rem;">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <ng-container *ngIf="updateSelectedServiceNumberRecord">
                            {{ updateSelectedServiceNumberRecord.baseUnitOfMeasurement }}
                        </ng-container>
                        <ng-container *ngIf="!updateSelectedServiceNumberRecord">
                            <p-dropdown [options]="recordsUnitOfMeasure" [(ngModel)]="mainItem.unitOfMeasurementCode"
                                [ngModelOptions]="{standalone: true}" optionValue="UnitOfMeasureLongName"
                                optionLabel="UnitOfMeasureLongName" [filter]="true"
                                [filterFields]="['UnitOfMeasureLongName','UnitOfMeasureName']" [showClear]="true"
                                placeholder=`{{mainItem.unitOfMeasurementCode}}` [required]="true" [appendTo]="'body'"
                                [virtualScroll]="true" [virtualScrollItemSize]="40">
                                <ng-template let-record pTemplate="item">
                                    <div class="flex align-items-center gap-2">
                                        <div>{{ record.UnitOfMeasureLongName }}::{{ record.UnitOfMeasureName }}</div>
                                    </div>
                                </ng-template>
                            </p-dropdown>
                        </ng-container>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{ mainItem.unitOfMeasurementCode }}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td style="min-width: 10rem;">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputNumber name="amountPerUnit" type="number" [min]="0"
                            [(ngModel)]="mainItem.amountPerUnit">

                    </ng-template>
                    <ng-template pTemplate="output">
                        {{ mainItem.amountPerUnit }}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td style="min-width: 10rem;">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <p-dropdown [options]="recordsCurrency" [(ngModel)]="mainItem.currencyCode"
                            [ngModelOptions]="{standalone: true}" optionValue="code" optionLabel="code" [filter]="true"
                            [filterFields]="['code','description']" [showClear]="true" placeholder="Select Currency"
                            [required]="true" [appendTo]="'body'" [virtualScroll]="true" [virtualScrollItemSize]="40">
                            <ng-template let-record pTemplate="item">
                                <div class="flex align-items-center gap-2">
                                    <div>{{ record.code }}::{{ record.description }}</div>
                                </div>
                            </ng-template>
                        </p-dropdown>

                    </ng-template>
                    <ng-template pTemplate="output">
                        {{ mainItem.currencyCode }}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td style="min-width: 10rem;">
                <p-cellEditor>
                    <ng-template pTemplate="input">

                        {{ mainItem.totalQuantity * mainItem.amountPerUnit }}

                    </ng-template>
                    <ng-template pTemplate="output">
                        {{ mainItem.total }}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td style="min-width: 10rem;">
                <!-- Actual Quantity -->
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputNumber name="actualQuantity" type="number" [min]="0"
                            [(ngModel)]="mainItem.actualQuantity">

                    </ng-template>
                    <ng-template pTemplate="output">
                        {{ mainItem.actualQuantity }}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td style="min-width: 10rem;">
                <!-- Actual Percentage -->
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputNumber name="actualPercentage" type="number" [min]="0"
                            [(ngModel)]="mainItem.actualPercentage">

                    </ng-template>
                    <ng-template pTemplate="output">
                        {{ mainItem.actualPercentage }}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td style="min-width: 10rem;">
                <!-- OverFulfillment -->
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputNumber name="overFulfillmentPercentage" type="number" [min]="0"
                            [(ngModel)]="mainItem.overFulfillmentPercentage">

                    </ng-template>
                    <ng-template pTemplate="output">
                        {{ mainItem.overFulfillmentPercentage }}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td style="min-width: 10rem;">
                <!-- Unlimited OverFulfillment -->
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputNumber name="unlimitedOverFulfillment" type="checkbox"
                            [(ngModel)]="mainItem.unlimitedOverFulfillment">

                    </ng-template>
                    <ng-template pTemplate="output">
                        {{ mainItem.unlimitedOverFulfillment }}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td style="min-width: 10rem;">
                <!-- Manual Price Entry Allowed -->
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText name="manualPriceEntryAllowed" type="checkbox"
                            [(ngModel)]="mainItem.manualPriceEntryAllowed">

                    </ng-template>
                    <ng-template pTemplate="output">
                        {{ mainItem.manualPriceEntryAllowed }}
                    </ng-template>
                </p-cellEditor>


            </td>

            <td style="min-width: 10rem;">
                <!-- Material Grp -->

                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <ng-container *ngIf="updateSelectedServiceNumberRecord">
                            {{ updateSelectedServiceNumberRecord.materialGroupCode }}
                        </ng-container>
                        <ng-container *ngIf="!updateSelectedServiceNumberRecord">
                            <p-dropdown [options]="recordsMaterialGroup" [(ngModel)]="mainItem.materialGroupCode"
                                [ngModelOptions]="{standalone: true}" optionValue="code" optionLabel="code"
                                [filter]="true" [filterFields]="['code','description']" [showClear]="true"
                                [virtualScroll]="true" [virtualScrollItemSize]="40"
                                placeholder=`{{mainItem.materialGroupCode}}` [appendTo]="'body'">
                                <ng-template let-record pTemplate="item">
                                    <div class="flex align-items-center gap-2">
                                        <div>{{ record.code }}::{{ record.description }}</div>
                                    </div>
                                </ng-template>
                            </p-dropdown>
                        </ng-container>
                    </ng-template>

                    <ng-template pTemplate="output">
                        {{mainItem.materialGroupCode }}
                    </ng-template>
                </p-cellEditor>

            </td>

            <td style="min-width: 10rem;">
                <!-- Service Type will change to its attribute -->
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <ng-container *ngIf="updateSelectedServiceNumberRecord">
                            {{ updateSelectedServiceNumberRecord.serviceTypeCode}}
                        </ng-container>
                        <ng-container *ngIf="!updateSelectedServiceNumberRecord">
                            <p-dropdown [options]="recordsServiceType" [(ngModel)]="mainItem.serviceTypeCode"
                                [ngModelOptions]="{standalone: true}" optionValue="serviceId" optionLabel="serviceId"
                                [filter]="true" [filterFields]="['serviceId','description']" [showClear]="true"
                                [virtualScroll]="true" [virtualScrollItemSize]="40"
                                placeholder=`{{mainItem.serviceTypeCode}}` [appendTo]="'body'">
                                <ng-template let-record pTemplate="item">
                                    <div class="flex align-items-center gap-2">
                                        <div>{{ record.serviceId }}::{{ record.description }}</div>
                                    </div>
                                </ng-template>
                            </p-dropdown>
                        </ng-container>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{mainItem.serviceTypeCode }}
                    </ng-template>
                </p-cellEditor>


            </td>

            <td style="min-width: 10rem;">
                <!-- External Service Number -->
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText name="externalServiceNumber" type="text"
                            [(ngModel)]="mainItem.externalServiceNumber">

                    </ng-template>
                    <ng-template pTemplate="output">
                        {{ mainItem.externalServiceNumber }}
                    </ng-template>
                </p-cellEditor>
            </td>
            <!-- 
            <td style="min-width: 10rem;">
               
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText name="amountPerUnit" type="text" [(ngModel)]="mainItem.amountPerUnit">

                    </ng-template>
                    <ng-template pTemplate="output">
                        {{ mainItem.amountPerUnit }}
                    </ng-template>
                </p-cellEditor>
            </td> -->

            <td style="min-width: 10rem;">
                <!-- Service Text -->
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText name="serviceText" type="text" [(ngModel)]="mainItem.serviceText">

                    </ng-template>
                    <ng-template pTemplate="output">
                        {{ mainItem.serviceText }}
                    </ng-template>
                </p-cellEditor>
            </td>

            <td style="min-width: 10rem;">
                <!--  Line Text -->
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText name="lineText" type="text" [(ngModel)]="mainItem.lineText">

                    </ng-template>
                    <ng-template pTemplate="output">
                        {{ mainItem.lineText }}
                    </ng-template>
                </p-cellEditor>
            </td>


            <td style="min-width: 10rem;">
                <!-- Personnel Number -->
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText name="personnelNumberCode" type="text"
                            [(ngModel)]="mainItem.personnelNumberCode">

                    </ng-template>
                    <ng-template pTemplate="output">
                        {{ mainItem.personnelNumberCode }}
                    </ng-template>
                </p-cellEditor>
            </td>

            <td style="min-width: 10rem;">
                <!-- Line Type -->
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <p-dropdown [options]="recordsCurrency" [(ngModel)]="mainItem.lineTypeCode"
                            [ngModelOptions]="{standalone: true}" optionValue="code" optionLabel="code" [filter]="true"
                            [filterFields]="['code','description']" [showClear]="true" placeholder="Select Currency"
                            [required]="true" [appendTo]="'body'" [virtualScroll]="true" [virtualScrollItemSize]="40">
                            <ng-template let-record pTemplate="item">
                                <div class="flex align-items-center gap-2">
                                    <div>{{ record.code }}::{{ record.description }}</div>
                                </div>
                            </ng-template>
                        </p-dropdown>

                    </ng-template>
                    <ng-template pTemplate="output">
                        {{ mainItem.lineTypeCode }}
                    </ng-template>
                </p-cellEditor>
            </td>



            <td style="min-width: 10rem;">
                <!-- Bidders Line -->
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText name="biddersLine" [(ngModel)]="mainItem.biddersLine" type="checkbox">

                    </ng-template>
                    <ng-template pTemplate="output">
                        {{ mainItem.biddersLine }}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td style="min-width: 10rem;">
                <!--  Supplementary Line  -->
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText name="supplementaryLine" [(ngModel)]="mainItem.supplementaryLine"
                            type="checkbox">

                    </ng-template>
                    <ng-template pTemplate="output">
                        {{ mainItem.supplementaryLine }}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td style="min-width: 10rem;">
                <!-- Lot Cost One -->
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText name="lotCostOne" [(ngModel)]="mainItem.lotCostOne" type="checkbox">

                    </ng-template>
                    <ng-template pTemplate="output">
                        {{ mainItem.lotCostOne }}
                    </ng-template>
                </p-cellEditor>
            </td>

            <td style="min-width: 10rem;">

                <div class="flex align-items-center justify-content-center gap-2">
                    <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                        (click)="onMainItemEditInit(mainItem)" class="p-button-rounded p-button-text"></button>
                    <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
                        (click)="onMainItemEditSave(mainItem.id,mainItem)"
                        class="p-button-rounded p-button-text p-button-success mr-2"></button>
                    <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                        (click)="onMainItemEditCancel(mainItem, ri)"
                        class="p-button-rounded p-button-text p-button-danger"></button>
                </div>
            </td>
        </tr>
    </ng-template>





    <ng-template pTemplate="footer" class="m-3">
        <tr>
            <td style="min-width: 10rem;">

            </td>
            <td style="min-width: 10rem;">

            </td>
            <td style="min-width: 10rem;">

            </td>
            <!-- Line Number -->
            <td style="min-width: 10rem;">
                <input pInputNumber name="lineNumber" type="text" [(ngModel)]="lineNumber"
                    (keyup.enter)="searchLineNumber(lineNumber)">
            </td>

            <td style="min-width: 10rem;">

            </td>

            <td style="min-width: 10rem;">
                <!-- <p-radioButton name="type" value="S" [(ngModel)]="recordType" inputId="type" />
                    <label for="type" class="ml-2">
                        S
                    </label> -->
            </td>
            <td style="min-width: 10rem;">
                <p-dropdown [options]="recordsServiceNumber" [(ngModel)]="selectedServiceNumber"
                    [ngModelOptions]="{standalone: true}" optionValue="serviceNumberCode" optionLabel="description"
                    [filter]="true" [filterFields]="['searchTerm','description']" [showClear]="true"
                    placeholder="Select SeviceNumber" (onChange)="onServiceNumberChange($event)" [appendTo]="'body'"
                    [virtualScroll]="true" [virtualScrollItemSize]="40">
                    <ng-template let-record pTemplate="item">
                        <div class="flex align-items-center gap-2">
                            <div>{{ record.searchTerm }}::{{ record.description }}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
            </td>
            <td style="min-width: 10rem;">
                <ng-container *ngIf="!selectedServiceNumberRecord">
                    <input pInputText type="text" [(ngModel)]="newMainItem.description">
                </ng-container>
                <ng-container *ngIf="shortTextChangeAllowed && selectedServiceNumberRecord">
                    <input pInputText type="text" [(ngModel)]="selectedServiceNumberRecord.description"
                        (ngModelChange)="shortText = $event">
                </ng-container>
                <ng-container *ngIf="!shortTextChangeAllowed && selectedServiceNumberRecord">
                    {{ selectedServiceNumberRecord.description }}
                </ng-container>
                <!-- <input pInputText name="description" type="text" [(ngModel)]="newMainItem.description"> -->
            </td>
            <td style="min-width: 10rem;">
                <!-- <ng-container *ngIf=" selectedFormula && selectedFormulaRecord && resultAfterTest">
                    {{resultAfterTest}}
                </ng-container>
                <ng-container *ngIf="!selectedFormulaRecord"> -->
                <input pInputNumber name="totalQuantity" type="number" [min]="0"
                    [(ngModel)]="newMainItem.totalQuantity">
                <!-- </ng-container> -->
            </td>
            <td style="min-width: 10rem;">
                <ng-container *ngIf="selectedServiceNumberRecord">
                    {{selectedServiceNumberRecord.baseUnitOfMeasurement}}
                </ng-container>

                <ng-container *ngIf="!selectedServiceNumberRecord">
                    <p-dropdown [options]="recordsUnitOfMeasure" [(ngModel)]="selectedUnitOfMeasure"
                        [ngModelOptions]="{standalone: true}" optionValue="UnitOfMeasureLongName"
                        optionLabel="UnitOfMeasureLongName" [filter]="true"
                        [filterFields]="['UnitOfMeasureLongName','UnitOfMeasureName']" [showClear]="true"
                        placeholder="Select UnitOfMeasure" [required]="true" [appendTo]="'body'" [virtualScroll]="true"
                        [virtualScrollItemSize]="40">
                        <ng-template let-record pTemplate="item">
                            <div class="flex align-items-center gap-2">
                                <div>{{ record.UnitOfMeasureLongName }}::{{ record.UnitOfMeasureName }}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </ng-container>
            </td>
            <td style="min-width: 10rem;">
                <input pInputNumber name="amountPerUnit" type="number" [min]="0"
                    [(ngModel)]="newMainItem.amountPerUnit">
            </td>
            <td style="min-width: 10rem;">
                <p-dropdown [options]="recordsCurrency" [(ngModel)]="selectedCurrency"
                    [ngModelOptions]="{standalone: true}" optionValue="code" optionLabel="code" [filter]="true"
                    [filterFields]="['code','description']" [showClear]="true" placeholder="Select Currency"
                    [required]="true" [appendTo]="'body'" [virtualScroll]="true" [virtualScrollItemSize]="40">
                    <ng-template let-record pTemplate="item">
                        <div class="flex align-items-center gap-2">
                            <div>{{ record.code }}::{{ record.description }}</div>
                        </div>
                    </ng-template>
                </p-dropdown>

            </td>
            <td style="min-width: 10rem;">
                <input pInputNumber name="total" type="number" [min]="0" [(ngModel)]="newMainItem.total">
                <!-- <ng-container *ngIf="selectedFormulaRecord && resultAfterTest">
                    {{ resultAfterTest * (newMainItem.amountPerUnit ?? 0) }}
                </ng-container>
                <ng-container *ngIf="!selectedFormulaRecord">
                    {{ (newMainItem.quantity ?? 0) * (newMainItem.amountPerUnit ?? 0) }}
                </ng-container> -->
            </td>
            <!-- Actual Quantity -->
            <td style="min-width: 10rem;">
                <input pInputNumber name="actualQuantity" type="number" [min]="0"
                    [(ngModel)]="newMainItem.actualQuantity">
            </td>
            <!-- Actual Percentage -->
            <td style="min-width: 10rem;">
                <input pInputNumber name="actualPercentage" type="number" [min]="0"
                    [(ngModel)]="newMainItem.actualPercentage">
            </td>
            <!-- OverFulfillment -->
            <td style="min-width: 10rem;">
                <input pInputNumber name="overFulfillmentPercentage" type="number" [min]="0"
                    [(ngModel)]="newMainItem.overFulfillmentPercentage">
            </td>
            <!-- Unlimited OverFulfillment -->
            <td style="min-width: 10rem;">
                <input pInputNumber name="unlimitedOverFulfillment" type="checkbox"
                    [(ngModel)]="newMainItem.unlimitedOverFulfillment">
            </td>
            <!-- Manual Price Entry Allowed -->
            <td style="min-width: 10rem;">
                <input pInputText name="manualPriceEntryAllowed" type="checkbox"
                    [(ngModel)]="newMainItem.manualPriceEntryAllowed">
            </td>
            <!-- Material Grp -->
            <td style="min-width: 10rem;">


                <ng-container *ngIf="selectedServiceNumberRecord">
                    {{ selectedServiceNumberRecord.materialGroupCode }}
                </ng-container>
                <ng-container *ngIf="!selectedServiceNumberRecord">
                    <p-dropdown [options]="recordsMaterialGroup" [(ngModel)]="selectedMaterialGroup"
                        [ngModelOptions]="{standalone: true}" optionValue="code" optionLabel="code" [filter]="true"
                        [filterFields]="['code','description']" [showClear]="true" placeholder="Select MaterialGrp"
                        [required]="true" [appendTo]="'body'" [virtualScroll]="true" [virtualScrollItemSize]="40">
                        <ng-template let-record pTemplate="item">
                            <div class="flex align-items-center gap-2">
                                <div>{{ record.code }}::{{ record.description }}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </ng-container>

            </td>
            <!-- Service Type  -->
            <td style="min-width: 10rem;">
                <ng-container *ngIf="selectedServiceNumberRecord">
                    {{ selectedServiceNumberRecord.serviceTypeCode }}
                </ng-container>
                <ng-container *ngIf="!selectedServiceNumberRecord">

                    <p-dropdown [options]="recordsServiceType" [(ngModel)]="selectedServiceType"
                        [ngModelOptions]="{standalone: true}" optionValue="serviceId" optionLabel="serviceId"
                        [filter]="true" [filterFields]="['serviceId','description']" [showClear]="true"
                        placeholder="Select ServiceType" [appendTo]="'body'" [virtualScroll]="true"
                        [virtualScrollItemSize]="40">
                        <ng-template let-record pTemplate="item">
                            <div class="flex align-items-center gap-2">
                                <div>{{ record.serviceId }}::{{ record.description }}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </ng-container>

            </td>
            <!-- External Service Number -->
            <td style="min-width: 10rem;">
                <input pInputNumber name="externalServiceNumber" type="text"
                    [(ngModel)]="newMainItem.externalServiceNumber">
            </td>
            <!-- Service Text -->
            <td style="min-width: 10rem;">
                <input pInputNumber name="serviceText" type="text" [(ngModel)]="newMainItem.serviceText">

            </td>
            <!--  Line Text -->
            <td style="min-width: 10rem;">
                <input pInputText name="lineText" type="text" [(ngModel)]="newMainItem.lineText">
            </td>
            <!-- Personnel Number -->
            <td style="min-width: 10rem;">
                <input pInputText name="personnelNumberCode" type="text" [(ngModel)]="newMainItem.personnelNumberCode">
            </td>
            <!-- Line Type -->
            <td style="min-width: 10rem;">
                <p-dropdown [options]="recordsLineType" [(ngModel)]="selectedLineType"
                    [ngModelOptions]="{standalone: true}" optionValue="code" optionLabel="code" [filter]="true"
                    [filterFields]="['code','description']" [showClear]="true" placeholder="Select LineType"
                    [required]="true" [appendTo]="'body'" [virtualScroll]="true" [virtualScrollItemSize]="40">
                    <ng-template let-record pTemplate="item">
                        <div class="flex align-items-center gap-2">
                            <div>{{ record.code }}::{{ record.description }}</div>
                        </div>
                    </ng-template>
                </p-dropdown>

            </td>

            <!-- Bidders Line -->
            <td style="min-width: 10rem;">
                <input pInputText name="biddersLine" type="checkbox" [(ngModel)]="newMainItem.biddersLine">
            </td>

            <!--  Supplementary Line  -->
            <td style="min-width: 10rem;">
                <input pInputText name="supplementaryLine" type="checkbox" [(ngModel)]="newMainItem.supplementaryLine">
            </td>

            <!-- Lot Cost One -->
            <td style="min-width: 10rem;">
                <input pInputText name="lotCostOne" type="checkbox" [(ngModel)]="newMainItem.lotCostOne">
            </td>

            <td style="min-width: 10rem;">
                <button pButton type="button" icon="pi pi-plus" class="ui-button-info" label="Save MainItem"
                    (click)="addMainItem()">
                </button>
            </td>
        </tr>
    </ng-template>



</p-table>


<p-dialog header="Select Rows" [(visible)]="displayDialog" [modal]="true" [style]="{width: '70vw'}" [responsive]="true">
    <p-table [value]="mainItemsRecords" selectionMode="multiple" [(selection)]="selectedItems"
        dataKey="executionOrderMainCode">

        <ng-template pTemplate="header">
            <tr>
                <th>Selection</th>
                <th>Do Not Print</th>
                <th>Line Number</th>
                <th>Row Index</th>
                <th>Service Number</th>
                <th>Description</th>
                <th>Total Quantity</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-mainItem let-ri="rowIndex">
            <tr>
                <td>
                    <!-- <p-checkbox [(ngModel)]="mainItem.selected"></p-checkbox> -->
                    <p-tableCheckbox [value]="mainItem" />
                </td>
                <td>
                    <p-checkbox [(ngModel)]="mainItem.doNotPrint"></p-checkbox>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputNumber type="text" [(ngModel)]="mainItem.lineNumber">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{ mainItem.lineNumber }}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>{{ ri + 1 }}</td>
                <td>
                    <p-dropdown [options]="serviceNumbers" [(ngModel)]="mainItem.serviceNumberCode"
                        optionLabel="description">
                        <ng-template let-record pTemplate="item">
                            <div>{{ record.description }}</div>
                        </ng-template>
                    </p-dropdown>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="mainItem.description">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{ mainItem.description }}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputNumber type="number" [(ngModel)]="mainItem.totalQuantity">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{ mainItem.totalQuantity }}
                        </ng-template>
                    </p-cellEditor>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <p-footer>
        <button pButton type="button" (click)="saveSelection()" label="Save"></button>
        <button pButton type="button" (click)="displayDialog = false" label="Cancel"
            class="p-button-secondary"></button>
    </p-footer>
</p-dialog>


<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>